<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288352922322-t3lmufm4vi9apvmn17j6o2r2lfm3ol5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288352922322-t3lmufm4vi9apvmn17j6o2r2lfm3ol5b</string>
	<key>API_KEY</key>
	<string>AIzaSyAdbdQyh2weNFMW48fSz6_f7tJDt8VQbBk</string>
	<key>GCM_SENDER_ID</key>
	<string>288352922322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Cached</string>
	<key>PROJECT_ID</key>
	<string>cached-10356</string>
	<key>STORAGE_BUCKET</key>
	<string>cached-10356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288352922322:ios:5c6d4abc2f154030799b0b</string>
	<key>DATABASE_URL</key>
	<string>https://cached-10356.firebaseio.com</string>
</dict>
</plist>